

<div class="w-sidebar-wrap">
    <div class="w-sidebar-top">

    </div>
    <div class="w-sidebar-list-wrap">
        <ul class="w-sidebar-list">
            <li class="w-sidebar-label">Code Editor</li>
            <a href="Snippets/Create"><li class="w-sidebar-link"><i class="fa fa-2x fa-pencil-square-o"></i><span class="w-sidebar-text"> Editor</span></li></a>
            <a href="/Snippets/Create"><li class="w-sidebar-link"><i class="fa fa-2x fa-file-code-o"></i><span class="w-sidebar-text">  New Resource</span></li></a>
            <a href="/Category/Create"><li class="w-sidebar-link"><i class="fa fa-2x fa-cube"></i><span class="w-sidebar-text">  New Category</span></li></a>
            <a href="/Category/Create"><li class="w-sidebar-link"><i class="fa fa-2x fa-cubes"></i><span class="w-sidebar-text">  New Subcategory</span></li></a>
        </ul>
        <br />
        <ul class="w-sidebar-list">
            <li class="w-sidebar-label">Code Library</li>
            <a href="/Categories/Index"><li class="w-sidebar-link"><i class="fa fa-2x fa-book"></i><span class="w-sidebar-text"> Library</span></li></a>
            <a href="/Search/Index"><li class="w-sidebar-link"><i class="fa fa-2x fa-search"></i><span class="w-sidebar-text"> Category Search</span></li></a>
            <a href="/Snippets/Index"><li class="w-sidebar-link"><i class="fa fa-2x fa-code"></i><span class="w-sidebar-text"> Code Search</span></li></a>
        </ul>
        <br />
        <ul class="w-sidebar-list">
            <li class="w-sidebar-label">Profile</li>
            <a href="/Account/"><li class="w-sidebar-link"><i class="fa fa-2x fa-tachometer"></i><span class="w-sidebar-text"> Home</span></li></a>
            <a href="/Account/"><li class="w-sidebar-link"><i class="fa fa-2x fa-user-o"></i><span class="w-sidebar-text"> My Profile</span></li></a>
            <a href="/Account/"><li class="w-sidebar-link"><i class="fa fa-2x fa-cog"></i><span class="w-sidebar-text">  Settings</span></li></a>
            <a href="/Account/"><li class="w-sidebar-link"><i class="fa fa-2x fa-share-alt"></i><span class="w-sidebar-text">  Social</span></li></a>
        </ul>
    </div>
</div>
