<!-- Start Footer -->
<footer id="w-footer">
    <div class="w-footer-wrap">
        <!--<div class="container w-footer-container">
              <div class="row w-footer-row">
                 <div class="col-sm-3">
                    <h3 class="w-contact-title"> Contact Form</h3>
                 </div>
                 <div class="col-sm-3">

                 </div>
                 <div class="col-sm-3">

                 </div>
                 <div class="col-sm-3">

                 </div>
              </div>
           </div>
        </div>-->
      <div class="container w-bottom-container w-dashboard-footer">
            <div class="col-sm-6">
                <p class="w-copyright">&copy; Feynman Group <?php echo date('Y'); ?></p>
            </div>
            <div class="col-sm-6">
                <div class="social-buttons">
                    <span class="w-social-tag">
                        Feeling Social?
                    </span><a class="left-button social-button w-inline-block" href="https://twitter.com/flexrs" target="_blank"><img class="social-icon" src="http://uploads.webflow.com/58c00327a3a19f2169a348cf/59019717a8ddfb10a67bfc95_twitter-icon.svg"></a><a class="middle-button social-button w-inline-block" href="https://www.facebook.com/uichest" target="_blank"><img class="social-icon" src="http://uploads.webflow.com/58c00327a3a19f2169a348cf/5901970975a513551e244731_facebook-icon.svg"></a><a class="right-button social-button w-inline-block" href="https://www.instagram.com/uichestcom" target="_blank"><img class="social-icon" src="http://uploads.webflow.com/58c00327a3a19f2169a348cf/5901970a67862b1bd859dd58_instagram-icon.svg"></a>
                </div>
            </div>
        </div>
        
        <div class="w-bottom-footer">
        
        
        </div>

<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>

</div>
</footer>
