
<div id="w-navigation" class="w-nav-wrap">
    <nav class="navbar navbar-default">
        <div class="container-fluid w-nav-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Dev Assistant</a>
                    <span class="w-open-btn" onclick="openNav()">&#9776;</span>

                <ul class="w-nav-social-list">
                    <!--<li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://github.com/devstartwebteam" target="_blank" data-toggle="tooltip" title="" data-original-title="Like us on Facebook">
                            <i class="fa fa-facebook-square fa-2x"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://github.com/devstartwebteam" target="_blank" data-toggle="tooltip" title="" data-original-title="Follow us on Instagram">
                            <i class="fa fa-instagram fa-2x"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://github.com/devstartwebteam" target="_blank" data-toggle="tooltip" title="" data-original-title="Follow us on Twitter">
                            <i class="fa fa-twitter-square fa-2x"></i>
                        </a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://github.com/devstartwebteam" target="_blank" data-toggle="tooltip" title="" data-original-title="Star us on Github">
                            <i class="fa fa-github fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="w-login-link" href="/Account/Login">Log In</a></li>
                    <li><a class="w-login-link" href="/Account/Register">Sign Up</a></li>
                    <li><form id="w-search-form" action="/Search/Results/" method="post">
                        <input class="w-nav-search" id="criteria" name="criteria" type="text" placeholder=" Search..." /><i id="w-search-btn" class="fa fa-search"></i></form></li>
                </ul>
            </div><!--.nav-collapse -->
        </div><!--.container -->
    </nav><!-- end .navbar -->
</div><!-- end .w-nav-wrap -->
