
<div class="row w-title-row">
    <div class="col-sm-8">
        <h1 class="w-dashboard-title w-primary-title">@ViewBag.Title</h1>
    </div>
    <div class="col-sm-4">
        <p class="w-greeting">
            Logged in as @User.Identity.Name
        </p>
    </div>
</div>