


<select id="mode" name="SnippetLanguage" class="w-code-select form-control" onchange="loadModeForSelectedOption()">
    <option value="text" data-mime-type="text">
        Plain Text
    </option>
    <option value="CSS"
            data-mime-type="text/css"
            data-script="/Scripts/codemirror-5.26.0/mode/css/css.js">
        CSS
    </option>
    <option value="Javascript"
            data-mime-type="javascript"
            data-script="/Scripts/codemirror-5.26.0/mode/javascript/javascript.js">
        Javascript
    </option>
    <option value="Plain PHP"
            data-mime-type="text/x-php"
            data-script="/Scripts/codemirror-5.26.0/mode/php/php.js">
        Plain PHP
    </option>
    <option value="C#"
            data-mime-type="text/x-csharp"
            data-script="/Scripts/codemirror-5.26.0/mode/clike/clike.js">
        C#
    </option>
    <option value="ASP.NET"
            data-mime-type="application/x-aspx"
            data-script="/Scripts/codemirror-5.26.0/mode/htmlmixed/htmlmixed.js">
        ASP.NET
    </option>
    <option value="Java"
            data-mime-type="text/x-java"
            data-script="/Scripts/codemirror-5.26.0/mode/clike/clike.js">
        Java
    </option>
    <option value="XML"
            data-mime-type="text/xml"
            data-script="/Scripts/codemirror-5.26.0/mode/xml/xml.js">
        XML
    </option>
    <option value="HTML"
            data-mime-type="text/html"
            data-script="/Scripts/codemirror-5.26.0/mode/htmlembedded/htmlembedded.js">
        HTML/CSS/JavaScript
    </option>
    <option value="MySql"
            data-mime-type="text/x-mysql"
            data-script="/Scripts/codemirror-5.26.0/mode/sql/sql.js">
        MySql
    </option>
    <option value="SQL Server"
            data-mime-type="text/x-sql"
            data-script="/Scripts/codemirror-5.26.0/mode/sql/sql.js">
        SQL Server
    </option>
    <option value="PL SQL"
            data-mime-type="text/x-plsql"
            data-script="/Scripts/codemirror-5.26.0/mode/sql/sql.js">
        PL SQL
    </option>
</select>