
<!-- Slider Background -->

<div class="w-body-wrap">
    <div class="w-slide-wrap">
        <ul class="w-home-slider">
            <li><img src="/Content/Images/dev-assistant-login-background-light.jpg"></li>
            <li><img src="/Content/Images/dev-assistant-login-bg-2.jpg"></li>
            <li><img src="/Content/Images/dev-assistant-login-bg-3.jpg"></li>
        </ul>
    </div>
</div>