@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w-login-container">
    <div class="container w-feature-container">
        <div class="w-login-wrap">
            <h1 class="w-primary-title">@ViewBag.Title</h1>

            <div id="w-login-form">
                <div class="w-login-logo">
                    <i class="fa fa-4x fa-user-circle"></i>
                </div>

                <p class="w-forgot-text">
                    Please check your email to reset your password.
                </p>

            </div>
        </div>
    </div>
</div><!-- w-login-container -->
