@{
    ViewBag.Title = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w-login-container">
    <div class="container w-feature-container">
        <div class="w-login-wrap">
            <h1 class="w-primary-title">@ViewBag.Title</h1>

            <div id="w-login-form">
                <div class="w-login-logo">
                    <i class="fa fa-4x fa-user-circle"></i>
                </div>

                <br />

                <p class="w-reset-text">
                    Your password has been reset. <br />
                    
                    @Html.ActionLink("Please Click Here to Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div><!-- w-login-container -->
