@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

    <div class="w-login-container">
        <div class="container w-feature-container">
            <div class="w-login-wrap">
                <h1 class="w-primary-title">Welcome to Dev Assistant</h1>

                <div id="w-login-form">
                    <div class="w-login-logo">
                        <i class="fa fa-4x fa-user-circle"></i>
                    </div>

                    <div class="w-login-field">
                        @Html.ActionLink("Log into Account", "Login")
                        @Html.ActionLink("Register New Account", "Account")
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="w-body-wrap">
        <div class="w-slide-wrap">
            <ul class="w-home-slider">
                <li><img src="/Content/Images/dev-assistant-login-background.jpg"></li>
                <li><img src="/Content/Images/web-assistant-polar.jpg" /></li>
                <li><img src="/Content/Images/web-assistant-smart-phone.jpg" /></li>
            </ul>
        </div>
    </div>