@model IEnumerable<CodeSearch.Models.Data.Snippet>

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="w-index-title">

    @Html.Partial("_PageTitle")

</div>
